<div class="jumbotron center">
  <h1><i class="fa fa-tasks fa-1x"></i> Real Experts.</h1>
  <p>Get your project off the ground with the real experts.<br>
  Work With the Best Engineers, Architects & Surveyors</p>
  <br>
  
<%= link_to "Start Your Project", new_user_registration_path, class: "btn btn-danger btn-lg" %></p>
</div>

<div class="container">

      <div class="starter-template">
        <h1>View Current Projects</h1>
      </div>

    </div><!-- /.container -->

<div class="row">

<%= render @projects %>

<div>


