<div class="col-md-3">
  <div class="thumbnail">
    <%= link_to project_path(project) do %>
    <%= image_tag "real.png", class: "img-responsive" %>
   <% end %>
  
  <div class="caption">
  <h2><%= link_to project.name , project_path(project) %></strong></h2>

  </div>
  </div>
</div>

